{
    "presets": [
        [
            {
                "targets": {
                    "node": "current"
                }
            }
        ],
        "@babel/present-react"
    ],
    "plugins": [
        "react-hot-loader/babel"
    ]
}